<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CodePen - A Pen by Celine</title>
		<link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
	  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	  <link rel='stylesheet' href='https://startbootstrap.com/templates/agency/font-awesome-4.1.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">
	  <link rel="stylesheet" href="/css/header.css">
	  </head>
<body>
	<header>
		<%- include('include_login/headnav') %>
	</header>
	<main>
		<%- include('include_login/form_login') %>
	</main>
		<%- include('include_login/footer') %>
</body>
</html>
