<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Data Application Security</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-lock  "></i>
                </span>
                <h4 class="service-heading">Data encryption</h4>
                <p class="text-muted">Data encryption transforms information into unreadable ciphertext using an algorithm and key, ensuring confidentiality and preventing unauthorized access or modifications.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-trash"></i>
                </span>
                <h4 class="service-heading">Data Sanitation</h4>
                <p class="text-muted">Data sanitation refers to the process of permanently and securely removing or erasing sensitive data from storage devices to prevent unauthorized retrieval or misuse.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-check"></i>
                </span>
                <h4 class="service-heading">Data Validation</h4>
                <p class="text-muted">Data validation is the process of ensuring that data is accurate, consistent, and meets specified criteria, typically through verification, testing, and error-checking mechanisms.</p>
            </div>
        </div>
    </div>
</section>